VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoic3BhbnVnYW50aTMxIiwiYSI6ImNtaDVwbzBlYzA1bTkybnB6azQxZnEwOGEifQ.eCNufvFartJqVo8Nwkwkeg
VITE_VAPI_PUBLIC_KEY=e52c6894-3fc8-4e4a-8538-42478088c5c5
VAPI_PRIVATE_KEY=b0345b9b-9fb9-4a11-b7f6-cad3bdaafb65
VITE_VAPI_ASSISTANT_ID=7498c76e-1e3c-46d7-8ab3-322c5c3793b2
NVIDIA=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